.navbar {
  padding: 0;
}
.navbar .container{
  padding: 0;
}
.navbar .navbar-brand {
  color: #fff;
  height: auto;
  display: block;
  font-size: 14px;
  background: #6bc4bc;
  padding: 15px 20px 15px 20px;
  border-radius: 0 0px 5px 5px;
  font-weight: 700;
  transition: all 0.3s ease-in-out 0s;
}

nav.navbar #main-menu {
  flex-grow: unset;
}

nav.navbar-default {
  background-color: transparent;
  border-color: transparent;
  transition: all 0.3s ease-in-out 0s;
}
nav.navbar .nav-item .nav-link {
  padding: 17px 10px;
  color: #fff;
  font-family: 'Open Sans', helvetica, arial, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14;
  cursor: pointer;
  border-top: 7px solid transparent;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  background: #17a185;
  color: #fff;
}

nav.navbar .nav-item .nav-link:hover {
  color: #1ab394;
}

nav.navbar .nav-item .nav-link.active {
  border-top: 7px solid #1ab394;
}

nav.navbar .nav-item .nav-link:focus {
  color: #1ab394;
}